@using WebApp.Models
<div class="col mt-5">
    <a class="card h-100" href="@Item.Href">
        <img src="@Item.ImageFilePath" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@Item.Title</h5>
            <p class="card-text">@Item.Description</p>
        </div>
        <div class="card-footer bg-white">
            @Item.Date
        </div>
        @foreach (var platform in Item.Platforms)
        {
            <div class="platform-icon"><i class="@platform.Icon"></i></div>
        }
    </a>
</div>
@code {
    [Parameter]
    public CardData Item { get; set; }
}
